

/* Media Query para Celulares */
@media (max-width: 500px) {
    body {
        width: 90%; 
    }
    
    header {
        padding: 20px 0 40px 0; 
    }

    main {
        width: 100%; 
    }

    #title {
        font-size: 2rem; 
    }

    .subtitle {
        font-size: 1.2rem; 
    }

    .whats-cosmere {
        flex-direction: column; 
        align-items: flex-start; 
        gap: 10px; 
    }

    .whats-cosmere-question {
        margin-right: 0; 
        text-align: left; 
    }

    .whats-cosmere-answer {
        width: 100%; 
    }

    #img-caption {
        font-size: 0.8rem;
    }

    .covers {
        flex-direction: column; 
        align-items: center;
        justify-content: space-between;
    }

    .cover {
        width: 120px; 
    }

    .cover-cel {
        display: block;
    }

    .order-content {
        font-size: 1rem;
    }

    .secret-projects {
        flex-direction: row;
  
    }
    .secret-projects-covers {
        gap: 3px;
    }

    .secret-cover {
        width: 150px; 
    }
    .yumi-cover {
        display: none;
    }


    .secret-projects-name {
        margin-left: 8px;
        font-size: 1.1rem;
      }

    footer {
        padding-top: 25px; 
        text-align: center;
    }
}