* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: black;
    color: #F5F5F5;
    font-family: Garamond, Arial, Helvetica, sans-serif;
    width: 70%;
    height: 100%;
    
}

